<div class="new-field">
    <label for="text">Title</label>
    <br>
    <input type="text" name="title" id="title" required>
</div>
<div class="new-field">
    <label for="description">Description</label>
    <br>
    <textarea name="description" id="description"></textarea>
</div>
<div class="new-field">
    <label for="markdown">Markdown</label>
    <br>
    <textarea name="markdown" id="markdown" ></textarea>
</div>
<a href="/" class="cancle-btn">Cancle</a>
<button type="submit" class="save-btn">Save</button>